<%= form_with(model: withdraw, local: true, url: withdrawals_path) do |form| %>

  <div class="field">
    <%= form.label :value %>
    <%= form.number_field :value %>
  </div>




  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalConfirmation">
      Create Transaction
   </button>

  <!-- Modal -->
  <div class="modal fade" id="modalConfirmation" tabindex="-1" role="dialog" aria-labelledby="modalConfirmationTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalConfirmationTitle">Confirmation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= form.label :password %>
          <%= form.password_field :password %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= form.submit %>
        </div>
      </div>
    </div>
  </div>
<% end %>