<h1>Bank Statement</h1>

<%= form_tag(bank_statements_path, method: :get) do %>
  <%= date_field_tag :initial_date, params[:initial_date], required: true %>
  <%= date_field_tag :final_date, params[:final_date], required: true %>
  <%= submit_tag "Search transactions" %>
<% end %>

<% if @transactions.empty? && params[:initial_date] && params[:final_date] %>
  <h1>No transactions made between this date.</h1>
<% end %>

   <table class="table table-striped table-dark">
      <thead>
        <tr>
          <th>Date</th>
          <th>Type</th>
          <th>Value</th>
        </tr>
      </thead>

      <tbody>
        <% @transactions.each do |transaction| %>
          <tr>
            <td><%= transaction.created_at.strftime("%d/%m/%Y %H:%M") %></td>
            <td><%= transaction.kind.titleize %></td>
            <td><%= transaction.value %></td>
          </tr>
        <% end %>
      </tbody>
    </table>