<% if user_signed_in? %>
<h1>
  Bank Accounts
</h1>
<table class="table table-stripped">
  <thead>
    <tr>
      <th>Account Number</th>
      <th>Balance</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= current_user.bank_account.account_number %></td>
        <td><%= number_to_currency(current_user.bank_account.balance) %></td>
        <td>
        <div class="row">
          <%= button_to "Deposit", new_deposit_path, method: :get %>
          <%= button_to "Withdraw", new_withdrawal_path, method: :get %>
          <%= button_to "Transference", new_transference_path, method: :get %>
          <%= button_to "Bank Statement", bank_statements_path, method: :get %>
        </div>        
        </td>
      </tr>
  </tbody>
</table>
<% end %>