<%= form_with(model: bank_statement, local: true, url: bank_statement_path) do |form| %>
  <% if bank_statement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bank_statement.errors.count, "error") %> prohibited this bank_statement from being saved:</h2>

      <ul>
        <% bank_statement.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :value %>
    <%= form.number_field :value %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>